HMACTestConsole/Web References/MailerService/MailerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mails" type="tns:Mails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Mails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationGUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Retries" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Cc" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfMailAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMailAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MailAttachment" nillable="true" type="tns:MailAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendResult" type="tns:MailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="MailGUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendLater">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mails" type="tns:Mails" />
            <s:element minOccurs="1" maxOccurs="1" name="datetime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendLaterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendLaterResult" type="tns:MailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMailJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mailID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="jobID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="datetime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="oneTimeOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMailJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMailJobResult" type="tns:MailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMailJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mailID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="jobID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMailJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteMailJobResult" type="tns:MailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="SendLaterSoapIn">
    <wsdl:part name="parameters" element="tns:SendLater" />
  </wsdl:message>
  <wsdl:message name="SendLaterSoapOut">
    <wsdl:part name="parameters" element="tns:SendLaterResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMailJobSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMailJob" />
  </wsdl:message>
  <wsdl:message name="UpdateMailJobSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMailJobResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMailJobSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMailJob" />
  </wsdl:message>
  <wsdl:message name="DeleteMailJobSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMailJobResponse" />
  </wsdl:message>
  <wsdl:portType name="MailerServiceSoap">
    <wsdl:operation name="Send">
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendLater">
      <wsdl:input message="tns:SendLaterSoapIn" />
      <wsdl:output message="tns:SendLaterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMailJob">
      <wsdl:input message="tns:UpdateMailJobSoapIn" />
      <wsdl:output message="tns:UpdateMailJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMailJob">
      <wsdl:input message="tns:DeleteMailJobSoapIn" />
      <wsdl:output message="tns:DeleteMailJobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailerServiceSoap" type="tns:MailerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLater">
      <soap:operation soapAction="http://tempuri.org/SendLater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMailJob">
      <soap:operation soapAction="http://tempuri.org/UpdateMailJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMailJob">
      <soap:operation soapAction="http://tempuri.org/DeleteMailJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailerServiceSoap12" type="tns:MailerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLater">
      <soap12:operation soapAction="http://tempuri.org/SendLater" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMailJob">
      <soap12:operation soapAction="http://tempuri.org/UpdateMailJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMailJob">
      <soap12:operation soapAction="http://tempuri.org/DeleteMailJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailerService">
    <wsdl:port name="MailerServiceSoap" binding="tns:MailerServiceSoap">
      <soap:address location="http://localhost:9095/ews/MailerService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailerServiceSoap12" binding="tns:MailerServiceSoap12">
      <soap12:address location="http://localhost:9095/ews/MailerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>